html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: block;
}

.eof-wrapper {
    border-top: 3px solid black;
    position: relative;
    display: flex;
    justify-content: center;
}

.editor-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

code {   
    text-align: center;
}
