name: Build web site
run-name: ${{ github.actor }} is building our great app
on: 
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - name: Install deps
        run: bun install
      - name: Build
        run: bun run build